@import '~/styles/base.scss';

.wrapper {
  background-color: $color--gray__light;
  box-sizing: border-box;
  padding: $padding--normal * 5;
  min-height: calc(100vh);
}

.header {
  margin-bottom: $padding--normal;
  font-size: 1.5rem;
  display: flex;

  a {
    text-decoration: none;
    color: lighten($color--gray__dark, 20%);
  }
}

.menuitem {
  & + & {
    margin-left: $padding--normal * 2;
  }
}

.content {
}
