@import '~/styles/base.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

.link {
  background-color: $color--light;
  color: #000;
  text-decoration: none;
}
